<div class="container" id="formulario-listadoAlumno" align=""> 
      <div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	<br>
	<h2>Listado de clases</h2>
	<br>
	
	

<table class="table table-hover">
	<thead >
    	<tr>
			<td scope="col">Código clase</td>
			<td scope="col">Nombre Clase</td>
			
		</tr>
	</thead>
  	<tbody>
      {{#each links}}
			<tr>
				<td>{{id_clase}}</td>
				<td>{{nombreClase}}</td>
				
			</tr>
		{{/each}}
			 
  			</tbody>
		</table>
		<div class="row" align="right">
		<a class="btn btn-primary" href="/links/menu">Atras</a>
		</div>
	</div>
</div>
  </div>