<div class="content">
		<div class="services-section" id="services">
			<div class="container"> 
			<div class="services-header">
				<h3><span>[</span> GEE UNICAH <span>]</span></h3>
					<p>En UNICAH Jesus Sacramentado manejamos la Gestion estrategica de empresas como una actividad destinada a organizar los recursos empresariales, humanos y materiales, en vistas a la consecución de sus objetivos. Para ello se elabora un plan estratégico en miras a la misión o fin a largo plazo que la organización se propone.
			 	</p>
			</div>
			<div class="services-sectiongrids">
				<div class="col-md-4 services-grid">
					<img src="images/img1.png" alt=""/>
					<h4>INNOVACION</h4>
					<p>La innovación es necesaria para el desarrollo sostenible del país, la responsabilidad social corporativa y la competitividad empresarial.</p>
				</div>
				<div class="col-md-4 services-grid">
					<img src="images/img2.png" alt=""/>
					<h4>ADMINISTRACION</h4>
					<p>Un gestor está capacitado para planificar, organizar, dirigir y controlar un sector o a toda una compañía.</p>
				</div>
				<div class="col-md-4 services-grid">
					<img src="images/img3.png" alt=""/>
					<h4>ESTRATEGIA</h4>
					<p>Las estrategias de una empresa o estrategias empresariales son acciones que una empresa realiza con el fin de alcanzar sus objetivos.</p>
				</div>
				<div class="clearfix"></div>
				<div class="arrow1">
					<a href="#work" class="scroll"><img src="images/arrow1.png" alt=""/></a>
					</div>
		</div>
		</div>
		</div>

        <div class="works-section" id="work" id="work">
		   <div class="works-header">
				<h3><span>[</span> ¿Quienes somos? <span>]</span></h3>
					<p>Somos estudiantes, somos amigos, somos familia, somos GEE UNICAH un gupo de jovenes enfocados en lograr nuestros sueños y alcanzar
					la excelencia en el rubro que hemos escogido, ademas de ejercerlo con amor y pasion siguiendo siempre las enseñanzas y consejos de Dios y esperando
					tener la uncion de nuestra señora reina de la paz. </p>
			</div>
			<div class="portfolio-section-bottom-row" id="portfolio">
			<div class="container">
		 <ul id="filters" class="clearfix">
						<li><span class="filter active" data-filter="app card icon web logo1"></span></li>
						</ul>
					<div id="portfoliolist">
					<div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">		
							 <a href="images/pic-1.jpg" class="swipebox"  title="GEE UNICAH"> <img src="images/pic-1.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

		                </div>
					</div>				
					<div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">		
							 <a href="images/pic-2.jpg" class="swipebox"  title="GEE UNICAH"> <img src="images/pic-2.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

		                </div>
					</div>					
					<div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">		
							 <a href="images/pic-3.jpg" class="swipebox"  title="GEE UNICAH"> <img src="images/pic-3.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

		                </div>

					</div>
					
					<div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">		
							 <a href="images/pic-4.jpg" class="swipebox"  title="GEE UNICAH"> <img src="images/pic-4.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

		                </div>
					</div>			
					<div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">		
							 <a href="images/pic-5.jpg" class="swipebox"  title="GEE UNICAH"> <img src="images/pic-5.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

		                </div>
					</div>	
					<div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">		
							 <a href="images/pic-6.jpg" class="swipebox"  title="GEE UNICAH"> <img src="images/pic-6.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

		                </div>
					</div>	
					<div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">		
							 <a href="images/pic-7.jpg" class="swipebox"  title="GEE UNICAH"> <img src="images/pic-7.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

		                </div>
						</div>
						<div class="portfolio logo1 mix_all wow bounceIn" data-wow-delay="0.4s" data-cat="logos" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">		
							 <a href="images/pic-8.jpg" class="swipebox"  title="GEE UNICAH"> <img src="images/pic-8.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

		                </div>
					</div>
<div class="clearfix"></div>					
				</div>

				<script type="text/javascript" src="/js/jquery.mixitup.min.js"></script>
					

			
		
	  
	  <div class="arrow">
				<a href="#about" class="scroll"><img src="images/arrow.png" alt=""/></a>
				</div>
			</div>
		</div>
	</div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

	<div class="about-section" id="about" id="about">
	<div class="container">
		<div class="about-header">
			<h3 style="margin: 60px;"><span>[</span> plan de estudios <span>]</span></h3>
			<p>El gestor de empresas es un profesional que posee los conociemientos cientificos, metodos de análisis y técnicas operacionales para desarrollar funciones relacionadas con la planificación, organización, dirección y control de todo tipo de unidades económicas y productivas, asi como los elementos que le permiten la integración de los procesos de administración, finanzas, producción y comercialización.</p> 
			<p style="margin: 30px;">DURACION DE LA CARRERA : 4 AÑOS </p>
	</div>
	
	<center>
		<button type="button" id="btnAsignarHorarios" class="btn btn-primary btn-lg btn-block">Login</button>
		
	</center>

<form class="container login" method="POST" id="formulario-login" action="/links/verificarLogin">
		<div class="row"> 
			<div class="col-md-4"></div>
			<div class="col-md-3">
			<h1 class="text-center">Usuarios</h1>
						
  				<div class="form-group">
    				<label>Usuario</label>
    				<input type="text" class="form-control" id="name" name="name" placeholder="Usuario">
  				</div>
  				<div class="form-group">
    				<label>Contraseña</label>
    				<input type="password" class="form-control" id="pass" name="pass" placeholder="Contraseña">
  				</div>
  	
  				<center>
  					<button id="btnEnviar" name="btnEnviar" onclick="verificarLogin()" class="btn btn-primary">Entrar</button>	
  				</center>
			</div>
		</div>
	</form>