<div class="container" id="formulario-menu" align="center"> 
      <div class="row">
        <br>
        <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2>Menu</h2>
         </div>
         </div>
         <br>
    
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <center>
            <a id="btnMostrarFormulario-hora" href="/links/listadoClasesOfertadas" class="btn btn-primary btn-lg btn-block">Matriculas</a>  
          </center>
        </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <center>
            <a id="btnMostrarFormulario-hora" href="/links/listadoClasesAsesoradas" class="btn btn-primary btn-lg btn-block">Asesorias</a>  
          </center>
        </div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <center>
            <a id="btnMostrarFormulario-Alumnos" href="/links/listadoAlumnos" class="btn btn-primary btn-lg btn-block">Alumnos</a>  
          </center>
        </div>
      
    </div>
    
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <center>
            <a id="btnMostrarFormulario-listadoClase" href="/links/listadoClases" class="btn btn-primary btn-lg btn-block">Clases</a>  
          </center>
        </div>
      
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <center>
            <a id="btnSalir" href="/links/login" class="btn btn-primary btn-lg btn-block">Salir</a>  
          </center>
        </div>
      
    </div>
  </div>