<form class="container login" method="POST" action="/links/guardarPagoAlumno">
    <div class="row">
        <h1 class="text-center">Pago</h1>
        <div class="container">
            <br>
            <div class="col-md-5">
                <div class="container">
                    <br>
                    <div class="row">
                
                        <div class="col-md-5">
                            <h3>Alumno </h3>
                            <br>
                
                            <select required="" class="form-control" name="listadoAlumnos" id="listadoAlumnos">
                                <option value="">Seleccione...</option>
                                {{#each alumnos}}
                                <option value="{{numeroCuenta}}">{{nombreCompleto}}</option>
                                {{/each}}
                
                            </select>
                        </div>
                
                        <div class="col-md-2">
                            <br>
                            <br>
                            <button class="btn btn-primary" type="submit">Guardar</button>
                            <a class="btn btn-primary" href="/links/pagos">Cancelar</a>
                
                            </center>
                        </div>
                    </div>
                
                </div>
            
            </div>
    </div>
    </div>
</form>